<div flex="95" flex-gt-sm="70" layout="column" layout-fill layout-margin>
    <div flex>

        <br/>Sign in with Google<br/>
        <a title="Sign in with Google"
           href="/signin/google">
            <img width="128" alt="Google plus"
                 src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Google_plus.svg/128px-Google_plus.svg.png"/>
        </a>

        <br/><br/>Sign in with Facebook<br/>
        <img width="128" alt="Facebook Faenza" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_Faenza.svg/64px-Facebook_Faenza.svg.png"/>

        <br/><br/>Sign in with LinkedIn<br/>
        <img width="128" alt="LinkedIn Logo" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/256px-LinkedIn_Logo.svg.png"/>

    </div>

</div>