<div flex="95" flex-gt-sm="70">

    <h3 ng-hide="user.ready">
        Loading profile...
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </h3>

    <div ng-show="user.ready">

        <div ng-if="user.error">
            <p ng-repeat="error in user.error">{{error.title}}</p>
        </div>

        <table ng-if="user.profile">
            <tr>
                <td>Name:</td>
                <td>{{ user.profile.displayName }}</td>
            </tr>
            <tr>
                <td>Public Profile:</td>
                <td><a ng-href="{{ user.profile.url }}" target="_blank">Google Plus</a></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <img ng-src="{{ user.profile.image }}"/>
                </td>
            </tr>
        </table>

    </div>

</div>
