<form
        name="RidesharesForm"
        id="RidesharesForm"
        novalidate="novalidate"
        ng-submit="vm.addPlace()">

    <input
            name="place"
            id="place"
            type="text"
            ng-model="vm.place"
            ng-autocomplete="vm.place"
            details="vm.placeDetails"/>

    <md-button
            class="md-raised md-primary"
            ng-disabled="!vm.place || !vm.placeDetails"
            ng-click="submit()">Add
    </md-button>

    <div ng-repeat="place in vm.itinerary.route">
        {{ ::place.place }}
    </div>

    <br/>

    <md-button
            class="md-raised md-primary"
            ng-if="vm.itinerary.route.length > 1"
            ng-disabled="!vm.isRouteValid"
            ng-click="vm.save()">Save Rideshare
    </md-button>

    <br/>

    <md-button
            class="md-raised md-warn"
            ng-if="vm.isOwner"
            ng-click="vm.remove()">Remove Rideshare
    </md-button>


</form>
