<h1>Rideshare Details</h1>

<div ng-hide="vm.ready">
    <h3>Loading Rideshare...</h3>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="vm.errors">
    <p ng-repeat="error in vm.errors">{{ error.title }}</p>
</div>

<table
        ng-if="vm.rideshare"
        id="rideshare">
    <thead>
    <tr>
        <th colspan="2" class="text-center">details</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Date:</td>
        <td>{{ vm.rideshare.created_at | date:'medium' }}</td>
    </tr>

    <tr ng-repeat="waypoint in vm.rideshare.itinerary.route">
        <td>Waypoint:</td>
        <td>
            {{ waypoint.place }}
        </td>
    </tr>

    <tr ng-if="vm.isOwner">
        <td>&nbsp;</td>
        <td>
            <a ng-href="#!/rideshares/{{vm.rideshare._id}}/update" class="button round"/>Update Rideshare</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="rideshare__map">
    <rsm-rideshares-map
            route="vm.rideshare.itinerary.route"            ></rsm-rideshares-map>
</div>