<div flex layout="column" layout-fill layout-margin>

    <div flex>

        <h1>Rideshare Details</h1>

        <div ng-hide="vm.ready">
            <h3>Loading Rideshare...</h3>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-if="vm.errors">
            <p ng-repeat="error in vm.errors">
                <ng-md-icon style="fill: red" icon="error" size="24"></ng-md-icon>
                &nbsp;
                {{ error.title }}
            </p>
        </div>

        <div ng-if="vm.rideshare">

            <ol>
                <li ng-repeat="waypoint in vm.rideshare.itinerary.route">
                    {{ waypoint.place }}
                </li>
            </ol>
            <ul>
                <li>Type: {{vm.rideshare.itinerary.type}}</li>
                <li>Trip: {{vm.rideshare.itinerary.trip}}</li>
                <li>Frequency: {{vm.rideshare.itinerary.frequency}}</li>
                <li>Vehicle: {{vm.rideshare.itinerary.vehicle}}</li>
                <li>Seats: {{vm.rideshare.itinerary.seats}}</li>
                <li>Luggage: {{vm.rideshare.itinerary.luggage}}</li>
                <li>Share Driving: {{vm.rideshare.itinerary.shareDriving}}</li>
                <li>Smoking: {{vm.rideshare.itinerary.smoking}}</li>
                <li>{{vm.rideshare.created_at | date:'medium'}}</li>

                <li ng-repeat="provider in vm.rideshare.user.providers track by $index">
                    <ng-md-icon style="fill: black" icon="message" size="24"></ng-md-icon>
                    &nbsp;
                    <a ng-href="{{provider.url}}" target="_blank">
                        {{provider.provider}} > {{provider.displayName}}
                    </a>
                    <a ng-href="{{provider.url}}" target="_blank">
                        <img ng-src="{{provider.image}}"/>
                    </a>
                </li>

            </ul>

            <md-button
                    id="update_rideshare"
                    class="md-raised md-primary"
                    ng-if="vm.isOwner"
                    ng-href="#!/rideshares/{{vm.rideshare._id}}/update">
                Update Rideshare
            </md-button>

        </div>

    </div>

    <div flex>
        <div class="rideshare__map">
            <rsm-rideshares-map
                    route="vm.rideshare.itinerary.route"></rsm-rideshares-map>
        </div>
    </div>

</div>
