.date {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 0.9em;
  font-weight: 300;
}

fieldset {
  background-color: #f9f9f9;
}

legend {
  font-size: 1.3em;
  font-weight: 600;
}
table > thead {
  text-align: left
}