<div flex="95" flex-md="80" flex-gt-md="70">

    <div ng-hide="vm.ready">
        <h3>Loading Latest Rideshares...</h3>
        <img src="/images/ellipsis.gif"/>
    </div>

    <div ng-if="vm.errors">
        <p ng-repeat="error in vm.errors">{{ error.title }}</p>
    </div>

    <table
            ng-if="vm.ready && !vm.errors"
            style="width: 100%"
            at-table
            at-paginated
            at-list="vm.rideshares"
            at-config="vm.config">
        <thead></thead>
        <tbody>
        <tr>
            <td
                    at-title="Origin"
                    at-attribute="itinerary.route[0].place"
                    at-sortable>
                <a ng-href="#!/rideshares/{{ item._id }}">{{ item.itinerary.route[0].place }}</a>
            </td>
            <td
                    at-title="Destination"
                    at-implicit
                    at-attribute="itinerary.route[1].place"
                    at-sortable></td>
            <td
                    at-title="Update Date"
                    at-attribute="updated_at"
                    at-sortable
                    at-initial-sorting="desc"
                    nowrap>{{item.updated_at | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>

</div>

<div flex="95" flex-md="80" flex-gt-md="70" layout="row" layout-align="center">
    <at-pagination
            ng-if="vm.ready"
            at-config="vm.config"
            at-list="vm.rideshares">
    </at-pagination>
</div>