<div flex="95" flex-md="80" flex-gt-md="70">

    <div ng-hide="vm.ready">
        <h3>Loading Latest Rideshares...</h3>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-if="vm.errors">
        <p ng-repeat="error in vm.errors">{{ error.title }}</p>
    </div>

    <table
            ng-if="vm.ready && !vm.errors"
            style="width: 80%"
            at-table
            at-paginated
            at-list="vm.rideshares"
            at-config="vm.config">
        <thead></thead>
        <tbody>
        <tr>
            <td
                    at-title="Rideshare Origin"
                    at-attribute="origin"
                    at-sortable>
                <a ng-href="#!/rideshares/{{ item._id }}">
                    <ng-md-icon style="fill: #4c7bff" icon="forward" size="18"></ng-md-icon>
                    &nbsp;{{ item.origin }}
                </a>
            </td>
            <td
                    at-title="Waypoints"
                    at-implicit
                    at-attribute="waypoints"
                    at-sortable></td>
            <td
                    at-title="Rideshare Destination"
                    at-implicit
                    at-attribute="destination"
                    at-sortable></td>
            <td
                    at-title="Published"
                    at-attribute="updated_at"
                    at-sortable
                    at-initial-sorting="desc"
                    nowrap>{{item.updated_at | date:'yyyy-MM-dd'}}
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div flex="95" flex-md="80" flex-gt-md="70" layout="row" layout-align="center">
    <at-pagination
            ng-if="vm.ready && vm.rideshares"
            at-config="vm.config"
            at-list="vm.rideshares">
    </at-pagination>
</div>