<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ride Share Market</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- build:css css/styles.css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="styles/app/css/app-css-animations.css"/>
    <link rel="stylesheet" href="styles/app/css/app-css-main.css"/>
    <link rel="stylesheet" href="styles/app/directives/nav-top/app-directive-nav-top.css"/>
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
</head>
<body id="appBody" layout="column" layout-fill>

<rsm-nav-top></rsm-nav-top>

<rsm-nav-side></rsm-nav-side>

<!-- Application content here -->
<div flex layout="row" layout-align-gt-sm="center" layout-sm="column" layout-align-sm="start center" style="overflow: auto" ui-view></div>

<script type="text/javascript">
    window.rsmConfig = {
        version: '<%= version %>',
        api: '<%= api %>'
    };
</script>

<!-- build:js scripts/app.js -->
<script src="bower_components/angular/angular.js"></script>

<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<script src="bower_components/localforage/dist/localforage.js"></script>
<script src="bower_components/angular-localforage/dist/angular-localForage.js"></script>

<script src="components/app/app.js"></script>
<script src="components/app/app-routes.js"></script>
<script src="components/app/controllers/app-controller-main.js"></script>
<script src="components/app/directives/nav-top/app-directive-nav-top.js"></script>
<script src="components/app/directives/nav-side/app-directive-nav-side.js"></script>
<script src="components/app/services/app-service-nav-top-ready.js"></script>
<script src="components/app/services/app-service-nav-top-links.js"></script>
<script src="components/app/services/app-service-nav-toggle.js"></script>
<script src="components/app/directives/nav-signin-signout/app-directive-nav-signin-signout.js"></script>

<script src="components/user/user-app.js"></script>
<script src="components/user/user-routes.js"></script>
<script src="components/user/controllers/user-controller-welcome.js"></script>
<script src="components/user/controllers/user-controller-signout.js"></script>
<script src="components/user/services/user-service-local-storage.js"></script>
<script src="components/user/services/user-service-url-inspector.js"></script>
<script src="components/user/services/user-service-jwt.js"></script>

<script src="template-cache/templates.js"></script>

<script src="components/app/app-init.js"></script>
<!-- endbuild -->

</body>
</html>
