<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ride Share Market</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="css/styles-9e24624f.css">
    <link href='https://fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
</head>
<body id="appBody" layout="column" layout-fill>

<rsm-nav-top></rsm-nav-top>

<rsm-nav-side></rsm-nav-side>

<!-- Application content here -->
<div flex
     layout="row"
     layout-align-gt-sm="center"
     layout-sm="column"
     layout-align-sm="start center"
     style="overflow: auto"
     class="page-app"
     ui-view></div>

<script type="text/javascript">
    window.rsmConfig = {
        version: '<%= version %>',
        api: '<%= api %>'
    };
</script>

<script src="scripts/app-de550146.js"></script>

</body>
</html>
