<div flex="100" flex-gt-sm="70">
    <p>11 Greeting: {{vm.greeting}}</p>
    <p>2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>3 Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>5 Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>6 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>7 Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>8 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>9 Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>10 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>11 Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>12 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>13 Nam elementum libero nec turpis tincidunt venenatis.</p>
</div>
