<div flex="95" flex-gt-sm="70">
    <p>Greeting: {{vm.greeting}}</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Nam elementum libero nec turpis tincidunt venenatis.</p>
</div>
